<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/fy.css">
  <script type="text/javascritp" src="/projeto/static/js/censurador.js"></script>

  <title>Tarará - Ver mais</title>
</head>
<body>
    <div class="container">
        <a href="/jussi/page2.html" target="_self">←</a> 
        <div id="all-comments-section"></div>
    </div>
    
    <script src="fy.js"></script>
  </body>
  </html>